/* Reset some default styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #200f42;
}
body, h1, h2, button {
    margin: 0;
    padding: 0;
    background-color:    #fd749d;
}

/* Apply a background color and styles to the container */
.container {
    width:30%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh; 
    background-color: #ece9e9;
    border-radius: 10%;
    font-family: Arial, sans-serif;
    border: 15px solid #32657b;
}

/* Style the title */


.players h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid #408a7d;
    border-radius: 20px;
    background-color: #ff8bde;
}

.players {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

/* Style each player's section */
#player1, #player2 {
    text-align: center;
}
/* Style the dice */
.dice {
    font-size: 48px;
    padding: 10px 20px;
    border: 5px solid #82469e;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* Style the active dice */
.dice.active {
    background-color: #333;
    color: #fff;
}

/* Style the buttons */
.btnbox {
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 36px;
    padding: 5px 10px 7px 10px;
    margin: 0 10px;
    border: 5px solid #82469e;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#message {
    font-size: 24px;
    font-weight: bold;
    margin: -30px 0 30px 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: #000;
}

@media screen and (max-width:1024px){
    .container{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .container{
        height: 50vh;
        width:70%;
    }
}
